body
  padding-top 50px

.navbar
  a:focus
    outline none
  .login
    float right
    margin-top 7px
    margin-left 10px

.showRoom button.edit, .editRoom button.cancel, .showRoom button.lock
  float        left
  margin-right 15px
  margin-top   8px
  width        75px

textarea.description
  height  150px

.container
  input,textarea,select
    font-family Helvetica
    font-size   1em
    width       98%
    max-width   500px