.container
  .addRoom
    label
      float right
      margin 5px
    table
      width 100%
      .title
        padding-right 8px
    td:first-child
      padding-bottom 15px
      padding-right  10px
      vertical-align top
      width 100px
    select
      font-size 1em
      width 101%