.showRoom
  .icon-lock
    float left
    margin-top 17px
    margin-right 15px
  p.description
    min-height 150px
  .chatlog
    border 1px solid #ddd
    padding 8px
    margin 0px
    height 150px
    max-width 492px
    overflow-y scroll
    overflow-x none